# Ambiente da Aplicação
ASPNETCORE_ENVIRONMENT=Development
API_PORT=5084
CORS_ORIGIN=http://localhost:5173

# Banco de Dados PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=biblioteca
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# String de Conexão
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=biblioteca;Username=postgres;Password=postgres
